{% extends 'layout.html.twig' %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <h1>Edit ToDo List</h1>
                {{ form_start(toDoListEditForm) }}
                <div class="form-group">
                    {{ form_label(toDoListEditForm.name, 'Name') }}
                    {{ form_widget(toDoListEditForm.name, {'attr': {'class': 'form-control'}}) }}
                </div>
                <h3>Tasks</h3>
                <ul class="tasks" data-prototype="{{ form_widget(toDoListEditForm.tasks.vars.prototype)|e('html_attr') }}">
                    {% for task in toDoListEditForm.tasks %}
                        <div class="single_task">
                            <li>{{ form_row(task.name) }}</li>
                            <li>{{ form_row(task.priority) }}</li>
                            <li>{{ form_row(task.deadlineDt) }}</li>
                        </div>
                    {% endfor %}
                </ul>
                <button type="submit" class="btn btn-primary">Save</button>
                {{ form_end(toDoListEditForm) }}
            </div>
        </div>
    </div>
    <script type="text/javascript">
        $('body').on('focus', '.js-datepicker', function() {
            $('.js-datepicker').datepicker({
                format: 'yyyy-mm-dd'
            });
        });
    </script>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="//cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.6.0/js/bootstrap-datepicker.min.js"></script>
    <script src="/js/form/dynamically_task_handling.js"></script>
{% endblock %}