{% for toDoList in toDoLists %}
<tr>
    <td>{{ toDoList.name }}</td>
    <td>{{ toDoList.createdAt|date("m/d/Y") }}</td>
    <td>{{ toDoList.tasks|length }}</td>    
    <td>{{ toDoList.tasks|uncompletedTask|length }}</td> 
    <td><a href="{{ path('view_todolist', {'id': toDoList.id}) }}">View</a></td>  
    <td><a href="{{ path('edit_todolist', {'id': toDoList.id}) }}">Edit</a></td>  
    <td><a href="#" class="ajaxDelete" data-todolist-id={{ toDoList.id }}>Delete</a></td>  
</tr>
{% endfor %}